.resaltar {
  font-family: Verdana;
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}

.centrado img {
  border: 5px solid black;
}

.centrado {
  font-family: Verdana;
  font-size: 1rem;
  color: black;
  line-height: 30px;
}
.centrado img {
  display: block;
  margin: auto;
}

.resaltar {
  font-family: Verdana;
  font-size: 1.3rem;
}
