.texto-regaleria {
  font-family: Verdana;
  font-size: 2rem;
  color: black;
}
.carrusel {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 1000px;
}

.carrusel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1000px;
}

.carrusel-fotos {
  display: flex;
  gap: 10px;
  overflow: auto;
}

.carrusel-fotos img {
  border: 4px solid white;
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
}

.carrusel-menu {
  display: none;
}

@media screen and (min-width: 500px) {
  .carrusel-fotos {
    overflow: hidden;
  }
  .carrusel-fotos img {
    width: 500px;
    height: 400px;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    border: 5px solid white;
  }
  .carrusel-menu img:hover {
    border: none;
  }
}
.contenedorderegaleria {
  background-color: #fff;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 1rem;
  max-width: 1000px;
  img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
  }
  .item-a {
    grid-row: 1/3;
  }

  .item-b {
    grid-column: 3/5;
  }

  .item-c {
    grid-row: 2/4;
  }

  .item-d {
    grid-column: 3/5;
  }
}

#titulodegaleriadereagaleria {
  color: #fff;
  font-family: Verdana;
  font-size: 1.8rem;
  text-align: center;
}
.tituloregaleria {
  font-family: Verdana;
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}
.contenedor8 p {
  text-shadow: 0 0 rgba(223, 16, 130, 0.418), 0 0 3px rgba(229, 138, 184, 0.5);
}
.contenedor8 {
  color: cornflowerblue;
  font-size: 1.5rem;
  text-transform: uppercase;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animacion {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
}
.animacion > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}
.animacion > div:first-child {
  animation: animacion-texto 8s infinite;
}
.primero div {
  background-color: rgba(223, 16, 130, 0.418);
}
.segundo div {
  background-color: rgba(223, 16, 130, 0.418);
}
@keyframes animacion-texto {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -6.3rem;
  }
  30% {
    margin-top: -6.3rem;
  }
  40% {
    margin-top: -12.5rem;
  }
  60% {
    margin-top: -12.5rem;
  }
  70% {
    margin-top: -6.3rem;
  }
  80% {
    margin-top: -6.3rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
