.colum img {
  width: 100%;
  margin-top: 5px;
}

.colum img:hover {
  filter: grayscale(1);
}

.row {
  display: flex;
  padding: 10px;
  gap: 10px;
  height: 400px;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

.colum {
  flex: 25%;
  padding: 5px;
}

@media (max-width: 800px) {
  .colum {
    flex: 50%;
  }
}
@media (max-width: 600px) {
  .colum {
    flex: 100%;
  }
}
.row .colum {
  padding: 10px;
  background-color: black;
}
.containertutoriales {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.containertutoriales img {
  width: 200px;
  height: 200px;
}
.containertutoriales p {
  color: #fff;
}
.containertutoriales h5 {
  color: #fff;
}
