@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
.conteiner2 {
  display: flex;
  margin: 60px;
}
.card1 {
  height: 200px;
  flex: 1;
  transition: 0.3s;
  margin: 0.5px;
  opacity: 0.5;
}
.card1:hover {
  flex: 5;
  opacity: 1;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#menu {
  color: pink;
}

#menu2 {
  list-style: none;
  display: inline-block;
  font-family: Verdana;
  text-align: center;
  width: 70%;
  background-color: pink;
  height: 80px;
  margin: 6% 15%;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
}
#menu2 li {
  display: inline-block;
  color: pink;
  font-size: 1.3rem;
  margin: 0.1em 1em;
  padding: 14px;
}
#menu2 a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 0.1em 0.5em;
  font-size: 15px;
}
#menu2 a:hover {
  color: cornflowerblue;
}
#menu2 a::before,
#menu2 a::after {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  transition: all ease 0.3s;
  opacity: 0;
}
#menu2 a::before {
  right: 0;
  top: 0;
  border-top: 2px solid cornflowerblue;
  border-right: 4px solid cornflowerblue;
  transform: translate(-100%, 40%);
}
#menu2 a::before {
  right: 0;
  top: 0;
  border-top: 2px solid cornflowerblue;
  border-right: 4px solid cornflowerblue;
  transform: translate(-100%, 40%);
}
#menu2 a::after {
  left: 0;
  bottom: 0;
  border-left: 4px solid cornflowerblue;
  border-bottom: 2px solid cornflowerblue;
  transform: translate(100%, -40%);
}
#menu2 a:hover::before,
#menu2 a:hover::after {
  transform: translate(0%, 0%);
  opacity: 1;
}

.Novedades {
  padding: 70px;
  margin-left: 40px;
  color: white;
}

.contenedor1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contenedor1 figure {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contenedor1 figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.contenedor1 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 138, 184, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-family: Verdana;
}

.contenedor1 figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor1 figure:hover > .capa h5 {
  margin-top: 70px;
  margin-bottom: 15px;
}

.contenedor1 figure:hover > img {
  transform: scale(1.3);
}

.contenedor1 figure .capa h5 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 50px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

.contenedor1 figure .capa p {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

.blockquote {
  color: white;
  font-family: Verdana;
  font-size: 1.4rem;
}

.grid-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 1em;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: 0.5rem;
  background-color: pink;
}

.grid1 {
  background-color: pink;
  padding: 1em;
  height: auto;
  width: auto;
}

.grid1 img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 70%;
  margin: 0 auto;
  height: auto;
}

.grid1 h4 {
  font-family: Verdana;
  color: white;
  font-size: 1.4rem;
}

.grid1 h5 {
  font-family: Verdana;
  color: white;
  font-size: 1.4rem;
}

.grid1 p {
  font-family: Verdana;
  color: white;
  font-size: 1rem;
}

.grid1:hover {
  border: 1px solid cornflowerblue;
}

.resaltar {
  font-family: Verdana;
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}

.centrado img {
  border: 5px solid black;
}

.centrado {
  font-family: Verdana;
  font-size: 1rem;
  color: black;
  line-height: 30px;
}

.centrado img {
  display: block;
  margin: auto;
}

.resaltar {
  font-family: Verdana;
  font-size: 1.3rem;
}

.texto-regaleria {
  font-family: Verdana;
  font-size: 2rem;
  color: black;
}

.carrusel {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 1000px;
}

.carrusel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1000px;
}

.carrusel-fotos {
  display: flex;
  gap: 10px;
  overflow: auto;
}

.carrusel-fotos img {
  border: 4px solid white;
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
}

.carrusel-menu {
  display: none;
}

@media screen and (min-width: 500px) {
  .carrusel-fotos {
    overflow: hidden;
  }
  .carrusel-fotos img {
    width: 500px;
    height: 400px;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    border: 5px solid white;
  }
  .carrusel-menu img:hover {
    border: none;
  }
}
.contenedorderegaleria {
  background-color: #fff;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 2rem;
  max-width: 1000px;
}
.contenedorderegaleria img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  transition: 0.3s ease all;
}
.contenedorderegaleria img:hover {
  transform: scale(1.07);
}
.contenedorderegaleria .item-a {
  grid-row: 1/3;
}
.contenedorderegaleria .item-b {
  grid-column: 3/5;
}
.contenedorderegaleria .item-c {
  grid-row: 2/4;
}
.contenedorderegaleria .item-d {
  grid-column: 3/5;
}

#titulodegaleriadereagaleria {
  color: #fff;
  font-family: Verdana;
  font-size: 1.8rem;
  text-align: center;
}

.tituloregaleria {
  font-family: Verdana;
  font-size: 1.8rem;
  color: white;
  text-decoration: underline;
}

.colum img {
  width: 100%;
  margin-top: 5px;
}

.colum img:hover {
  filter: grayscale(1);
}

.row {
  display: flex;
  padding: 10px;
  gap: 10px;
  height: 400px;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

.colum {
  flex: 25%;
  padding: 5px;
}

@media (max-width: 800px) {
  .colum {
    grid-column: span 2;
  }
}
@media (max-width: 600px) {
  .colum {
    grid-column: span 1;
  }
}
.row .colum {
  padding: 10px;
  background-color: black;
}

.Contacto {
  background-color: pink;
}
.menuredes {
  padding: 2rem;
  background-color: #ffc0cb;
  position: relative;
  width: calc(130px + 4 * 70px + 4rem);
  display: flex;
  justify-content: center;
  border: 20px 20px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.075);
}
.link {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 99em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.25 ease-in;
  text-decoration: none;
  color: inherit;
}
.link:before {
  position: relative;
  z-index: -1;
  content: "";
  display: block;
  border-radius: 99em;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  transform-origin: center right;
  background-color: cornflowerblue;
}
.link:hover,
.link:focus {
  outline: 0;
  width: 140px;
}
.link:hover:before,
.link:hover .link-title {
  transform: translateX(0%);
}
.link-icon {
  color: var(--color);
  font-size: 27px !important;
  display: block;
  flex-shrink: 0;
  left: 18px;
  position: absolute;
}
.link-title {
  color: var(--color);
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  display: block;
  text-align: center;
  text-indent: 20px;
  width: 100%;
}
/*variables*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ffc0cb;
  color: black;
  display: flex;
  flex-direction: column;
}

header {
  background-color: white;
  padding: auto;
  color: black;
}
.header-logo {
  animation: ease-in animation 1s;
}
@keyframes animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1%);
  }
}

#section-principal {
  background-color: white;
  display: flex;
  justify-content: center;
}

.logo {
  background-color: white;
  padding: auto;
  display: flex;
  justify-content: center;
}

nav {
  background-color: white;
  font-size: 1.4rem;
  font-family: Verdana;
  color: pink;
  text-align: center;
}

#titulo-principal {
  background-color: white;
  font-size: 1.4rem;
  font-family: Verdana;
  color: pink;
}

.Novedades {
  padding: 70px;
  margin-left: 40px;
  color: white;
}

.Titulo {
  font-size: 1.5rem;
  font-family: Verdana;
  color: white;
}

.footer {
  font-size: 1.4rem;
  font-family: Verdana;
  margin: 5px;
  display: inline-block;
}
.footer .footer {
  background-color: #ffc0cb;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  height: auto;
  text-decoration: none;
}
.footer-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  background-color: #ffc0cb;
  height: 200px;
  width: 200px;
  font-size: 0px;
}
.contenedor3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos-descripción {
  text-align: center;
  vertical-align: middle;
}

.contenedor {
  display: inline;
}

.footer-contacto {
  background-color: #ffc0cb;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-family: Verdana;
  font-size: 0.8rem;
  color: black;
}
.titulodegaleria {
  font-family: Verdana;
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}

#titulo-principal {
  width: 300px;
  height: 40px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-principal {
  width: 300px;
  height: 40px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
}

.Contacto {
  background-color: #ffc0cb;
}

.home {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Verdana;
}

#titulodegaleriadereagaleria {
  color: #fff;
  font-family: Verdana;
  font-size: 1.8rem;
  text-align: center;
}
.accordion-item {
  background-color: #ffc0cb;
}
.accordion-button {
  background-color: #ffc0cb;
}
.container-fluid {
  display: flex;
  justify-content: center;
  background-color: #fff;
} /*# sourceMappingURL=main.css.map */
